/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
     -fx-background-color: lightblue;
     -fx-background-image: url("dashboard.png");
}


.label {
	-fx-text-fill:white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
 
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size:20px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#button{
	     -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
#wel{
	-fx-font-size:80px;
	-fx-font-family:Times New Roman;
	 -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	 -fx-text-fill: red;
	 }
	 
	 
