.root {
     -fx-background-color: lightblue;
     -fx-background-image: url("dashboard.png");
}
.label{
	-fx-text-fill:black;
    -fx-font-size: 22px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#welcome-note{
	-fx-text-fill:red;
	-fx-font-size:80px;
	-fx-font-family:Times New Roman
}